.list {
    display: flex;
    padding-top: 60px;
    overflow-x: hidden; // Prevent horizontal scroll

    .listContainer {
        flex: 6;

        .contactGrid {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 20px;
            margin: 20px;
            margin-top: 20px;

            .leftColumn,
            .rightColumn {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }

        .cardBox {
            background: #fff;
            border-radius: 12px;
            padding: 20px;
        }
    }
}